#SideChatMain{
	width: 20%;
	position:absolute;
	top:0;
	bottom:0;
	background-color:var(--color-background-base);
	border-right:3px solid var(--color-border-base);
}

#SideChatMain ::-webkit-scrollbar {
  width: 6px;
}

#SideChatMain ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid var(--color-border-base);
  background-color:rgba(24, 24, 27, 0.7);
}

#SideChatHeader{
	justify-content: center!important;
	display: flex;
	align-items: center!important;
	height:50px;
	background-color: var(--color-background-base)!important;
	border-bottom: var(--border-width-default) solid var(--color-border-base)!important;
}

#SideChatBody{
	position: relative;
	height: calc(100% - 50px);
	width: 100%;
	overflow-y: scroll;
}

#SideChat{
	width: 100%;
}

#SideChatHeader img{
	margin-right: 10px;
}

#SideChatMoreMessages{
	position:absolute;
	bottom:0;
	justify-content: center !important;
	width: 100%;
	display: none;
}


